{% extends "base.html" %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h2 class="card-title mb-4">修改项目信息</h2>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">项目名称</label>
                <input type="text" name="name" class="form-control" value="{{ project.name }}" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label">备注</label>
                <textarea name="note" class="form-control" rows="2">{{ project.note }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">保存修改</button>
        </form>
    </div>
</div>
{% endblock %}